* {
    margin-left: 2px !important;
}
body {
    overflow-x: hidden;
}
h3 {
    margin: 25px 0 25px;
    font-weight: 600;
}
h5 {
    margin-top: 15px;
}
h6 {
    margin-top: 10px;
}
p {
    margin-top: 25px;
}
.buttons {
    margin: 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button {
    margin-right: 5px;
}
.text-input {
    width: 100%;
}